:root{
    /*
    --body-color:#009da5;
    --shadow-color:#00565A;
    --well-color:#80BABD;
    --highlight-well-color:#A0CBCD;
    --primary-button-color:#e53771;
    --primary-button-pressed-color:#A72953;
    --secondary-button-color:pink;
    --font-color:black;
    --menu-buttons-color:#A0CBCD;
    */
    
    --body-color:#375C7F;
    --shadow-color:#0A2D4D;
    --well-color:#5F7C99;
    --highlight-well-color:#6F89A3;
    --primary-button-color:#AD5693;
    --primary-button-pressed-color:#8C1C6A;
    --secondary-button-color:#BECC92;
    --secondary-button-pressed-color:#A6BA6A;
    --font-color:black;
    --menu-buttons-color:#A7B7C7;
    --menu-buttons-pressed-color:#6F89A3;
    
}
/* JACOB, make the Beer, wine, liquor buttons this color: #FFBC3F, it might look back but try different shades of yellow*/
body{
    font-family: 'Nunito', sans-serif !important;
    color:var(--font-color)!important;
    /*font-family: 'Quicksand', sans-serif !important;
    font-family: 'Dosis', sans-serif !important;*/
}

/*Login/Register Page (index.html)*/
.login-body{
    background-color: var(--body-color) !important;
}
.login-message-ctnr{
    padding:100px 20px 100px 20px;
    color:rgb(236, 234, 234);
    text-shadow:4px 4px var(--shadow-color);
}
.login-message{
    margin:auto;
    font-size:90px;
    text-align:center;
}
.login-modal{
    width:100%;
}
.login-modal p{
    font-size:80px;
}
.login-modal button{
    font-size:60px;
}
.login-modal-dialog{
    width:90%!important;
    margin-top:40%!important; 
}
.modal-header{
    border-bottom: 3px solid lightgray!important;
    background-color:#eee!important;
}
.modal-footer{
    border-top: 3px solid lightgray !important;
    background-color:#eee!important;
}
.modal-body{
    padding-top:150px!important;
    padding-bottom:150px!important;
}
.login-button{
    font-size:80px;
    margin-top:80px;
    padding: 15px;
    background-color:var(--primary-button-color);
    border:none;
    box-shadow:4px 4px var(--shadow-color);
    /*color:rgb(226, 226, 226);*/
    color:var(--font-color);
}
.login-button:active{
    background-color: var(--primary-button-pressed-color);
}
.login-buttons-ctnr{
    padding:20%;
    text-align:center;
}
.register-input{
    font-size:60px!important;
    height:100px!important;
    margin-top:30px;
}

.modal-opt{
    font-size:60px!important;
    margin-left:50px;
}
.modal-opt input{
    border: 0px;
    width:10%;
    height: .6em;
    margin-top:25px!important;
    margin-left:-80px!important;
}

.height-input{
    font-size:60px!important;
    height:100px!important;
    width:200px!important;
    display:inline-block!important;
    margin-right:10px;
}
.height-label{
    font-size:60px!important;
    margin-right:50px;
}
.quiz-modal-footer{
    text-align:center!important;
}
.quiz-modal-footer .back-btn{
    margin-right:60%;
}
.quiz-modal-footer .back-submit-btn{
    margin-right:52%;
}


/* Dashboard and the rest*/
.dashboard-body{
    background-color:var(--body-color)!important;
}
.jumbotron{
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-color: var(--well-color)!important;
    color:var(--font-color)!important;
}
.jumbo-ctnr{
    width:90%!important;
}
.new-event-ctnr{
    padding: 11.5% 15.5% 11.5% 15.5%!important;
}
.new-event-btn{
    font-size: 70px!important;
    background-color:var(--primary-button-color);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color:var(--font-color);
    border:none;
    box-shadow:4px 4px var(--shadow-color);

}
.new-event-btn:active{
    background-color: var(--primary-button-pressed-color);
}
.new-event-btn p{
    margin:0px;
}

.events-ctnr p{
    font-size: 60px;
    color:var(--font-color);
}
.events-ctnr{
    width:90%!important;
}
.dashboard-well{
    font-size: 40px;
    height: 758px;
    overflow-y: scroll;
    border:none!important;
    background-color: var(--well-color)!important;
}
#events-list-content button{
    background-color: var(--secondary-button-color);
    margin-bottom: 15px;
    padding: 10px;
    border:none;
    box-shadow:4px 4px var(--shadow-color);
    color:var(--font-color);
}
#events-list-content button:active{
    background-color: var(--secondary-button-pressed-color);
}
.clear-events-btn{
    background-color: var(--primary-button-color);
    margin-left: 480px;
    padding: 10px 10px 10px 10px;
    border:none;
    box-shadow:4px 4px var(--shadow-color);
    color:var(--font-color);
}
.clear-events-btn:active{
    background-color:var(--primary-button-pressed-color);
}
.menu-btn .icon{
    font-size: 140px;
}
.btn-group button{
    padding:20px 30px 20px 30px;
    background-color: var(--menu-buttons-color);
    border:none;
    box-shadow: 4px 4px var(--shadow-color);
}
.btn-group button:active{
    background-color: var(--menu-buttons-pressed-color);
}
.btn-group{
    margin:7% 8% 1% 9%;
}

/*Event page*/
.event-page-body{
    background-color:var(--body-color)!important;
}
.event-modal{
    width:100%;
}
.event-modal-dialog{
    width:90%!important;
    margin-top:40%!important; 
}
.event-title-input{
    font-size:70px!important;
    height:100px!important;
}
.event-title-btn{
    background-color:var(--secondary-button-color);
    padding: 10px;
    border:none;
    box-shadow: 4px 4px var(--shadow-color);
    color:var(--font-color);
}
.event-title-btn:active{
    background-color: var(--secondary-button-pressed-color);
}
.event-modal-content{
    height:700px!important;
}
.event-modal p{
    font-size:80px;
}
.event-modal button{
    font-size:60px;
}
.warning-modal-body p{
    font-size:50px;
}
.warning-modal-body{
    padding-top:100px!important;
    padding-bottom:100px!important;
    
}
.bac-checker{
    font-size:85px;
    background-color:var(--highlight-well-color);
    display: flex;
    justify-content: center;
    margin: 70px 200px 70px 200px;
}
#bac-value{
    margin-left: 20px;
    font-weight:bold;
}
.drinks-btn-group{
    display: flex;
    justify-content: center;
    margin: 100px 40px 66px 40px;
}
.drinks-btn-container{
    font-size: 50px;
    text-align: center;
    border: solid 3px black;
    background-color: white;
    width: 33%;
    margin: 10px;
    padding: 10px 0px 10px 0px;
    box-shadow: 8px 8px var(--shadow-color);
}
.drinks-btn-container:active{
    box-shadow: 0px 0px;
    border-color: gray;
}
.event-action-btn-group{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align:center;
}
.event-action-btn-group button i{
    font-size:60px;
    margin-bottom:-30px;
}
.add-buddy-button{
    font-size: 70px;
    background-color:var(--primary-button-color);
    margin: 70px;
    padding: 20px;
    border:none;
    box-shadow:4px 4px var(--shadow-color);
    color:var(--font-color);
}
.add-buddy-button:active{
    background-color: var(--primary-button-pressed-color);
}

.add-buddy-modal-body p{
    font-size:50px;
    padding:10px 20px 10px 20px;
}
.add-buddy-modal-opt{
    font-size: 50px!important;
    margin-left:50px;
}
.add-buddy-modal-opt input{
    border: 0px;
    width:10%;
    height: .6em;
    margin-top:20px!important;
    margin-left:-80px!important;
}
#add-buddy-friends-list{
    height: 500px;
    border-top: 3px solid #eee;
    overflow-y: scroll;
    margin-bottom:0px;
}
.exit-event-button{
    font-size: 70px;
    background-color: var(--primary-button-color);
    margin: 70px;
    padding: 20px;
    border:none;
    box-shadow:4px 4px var(--shadow-color);
    color:var(--font-color);
}
.exit-event-button:active{
    background-color: var(--primary-button-pressed-color);
}
.drink-img{
    height: 75%;
    width: 75%;
}
#liquor-img{
    height: 60%;
    width: 60%;
    margin: 35px;
}
.shared-friend-ctnr{
    background-color:var(--highlight-well-color);
}
.shared-friend-ctnr p{
    font-size: 50px;
    text-align:center;
}
#shared-friend-name{
    font-size:60px;
    font-weight:bold;
}
/* Friends Page */
.friends-body{
    background-color:var(--body-color)!important;
}
.friend-btn{
    font-size: 60px;
    background-color:var(--secondary-button-color);
    border:none;
    box-shadow:4px 4px var(--shadow-color);
    /*color:rgb(226, 226, 226);*/
    color:var(--font-color);
    margin: 20px 0px 10px 20px;
    padding: 10px;
}
.friend-btn:active{
    background-color:var(--secondary-button-pressed-color);
}
#friends-list{
    height:1083px;
}
.add-friend-ctnr{
    text-align:right;
    padding-right:50px;
}
.add-friend-btn{
    font-size: 60px;
    background-color:var(--primary-button-color);
    border:none;
    box-shadow:4px 4px var(--shadow-color);
    /*color:rgb(226, 226, 226);*/
    color:var(--font-color);
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
.add-friend-btn:active{
    background-color:var(--primary-button-pressed-color);
}
.friends-well{
    margin:10px 40px 0px 40px;
    background-color: var(--well-color)!important;
    overflow-y:scroll;
}
.add-modal-body{
    padding:100px 20px 100px 20px!important;
}

/*Friend Page - Profile */
.friends-profile-body{
    background-color:var(--body-color)!important;
}
.friends-header-info{
    width: 852px;
    margin: 40px 60px 40px 60px;
    height: 315px;
    display: flex;
    flex-wrap: wrap;
    background-color:var(--well-color);
    height: 936px;
}
.material-icons.friends-icon{
    font-size: 285px;
    height: 285px;
}
#friend-name{
    font-size: 80px;
    width:500px;
    height:230px;
    margin: 60px 0px 0px 50px;
    overflow-wrap: break-word;
    overflow-y:scroll;
}
.friend-info{
    width: 750px;
    height: 450px;
    margin: 0px 51px 0px 51px;
}
.delete-friend-button{
    width: 750px;
    height: 125px;
    font-size: 60px;
    text-align: center;
    margin: 51px;
    background-color: lightpink;
    border: none;
    box-shadow: 2px 2px;
}
.delete-friend-button:active{
    background-color: rgb(247, 71, 100);
}
.friend-back-button{
    width: 900px;
    font-size:80px;
    margin-top:80px;
    background-color:var(--primary-button-color);
    padding: 15px;
    border:none;
    margin: 40px;
    box-shadow:4px 4px var(--shadow-color);
}
.friend-back-button:active{
    background-color:var(--primary-button-pressed-color);
}

/*Settings Page*/
.settings-body{
    background-color:var(--body-color)!important;
}
.settings-header-info{
    width: 852px;
    margin: 40px 60px 40px 60px;
    height: 315px;
    display: flex;
    background-color:var(--well-color);
    height: 936px;
}
.material-icons.settings-icon{
    font-size: 285px;
}
.settings-name{
    font-size: 80px;
    width:500px;
    height:230px;
    margin: 60px 0px 0px 50px;
    overflow-wrap: break-word;
    overflow-y:scroll;
}
.settings-main-info{
    width: 980px;
    height: 615px;
}
.logout-button{
    width: 900px;
    font-size:80px;
    margin-top:80px;
    background-color:var(--primary-button-color);
    padding: 15px;
    border:none;
    margin: 40px;
    box-shadow:4px 4px var(--shadow-color);
    color:var(--font-color);
}
.logout-button:active{
    background-color:var(--primary-button-pressed-color);
}

/* Stats Page */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}
.my-pill {
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 65px;
}
.my-chart {
    padding: 40px;
}
.my-alert {
    font-size: 40px;
    margin: 40px;
}