body{
    font-family: 'Nunito', sans-serif !important;
    /*font-family: 'Quicksand', sans-serif !important;
    font-family: 'Dosis', sans-serif !important;*/
}
.jumbotron{
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.jumbo-ctnr{
    width:90%!important;
}
.new-event-ctnr{
    padding: 15% 15.5% 15% 15.5%!important;
}
.new-event-btn{
    font-size: 70px!important;
    background-color:#eee;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color:black;
}
.new-event-btn p{
    margin:0px;
}
.events-ctnr p{
    font-size: 60px;
}
.events-ctnr{
    width:90%!important;
}
.well{
    font-size: 40px;
    height: 400px;
}
.menu-btn .icon{
    font-size: 100px;
}
.btn-group button{
    padding:20px 30px 20px 30px;
    background-color:#eee;
    border:none;
}
.btn-group{
    margin:19% 17% 1% 16%;
}
.login-button{
    font-size:60px;
}
.login-message{
    font-size:60px;
}